<template name="header">
	<div class="logo">
		<i class="fa fa-weixin fa-4x"></i>
	</div>
	<div class="searchSlash">
		<input type="text" class="form-control" name="search_slash" placeholder="//">
	</div>
	<div class="headerRight">
		{{#if currentUser }}
			<h2>Hello {{ currentUser.username }}</h2>
		{{else}}
			<h2>Join us !</h2>
		{{/if}}
		{{#each puce}}
			<div class="puce {{ class }}"  title='{{ title }}'>
				<i class="{{ icon }}"></i>
			</div>
		{{/each}}
	</div>
</template>

<template name="menu">
</template>
