<template name="addSlash">
	<form class="add-slash-form col-md-12">
		<table class="table">
			<tr class="table-row">
				<td class="display-add-message user-info">
					{{#if currentUser }}
					<p>{{ currentUser.username }}</p>
					<img alt="My 24th Birthday!" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
					<p>@messages@</p>
					<p>@quality@</p>
					{{else}}
					<div class="empty-space"></div>
					{{/if}}
				</td>
				<td class="slash-central">
					<div class="slash-info">
						<i class="fa fa-clock-o"></i>Your message will be display until @23:05:29@
					</div>
					<div class="slash-add-message">
						<textarea class="form-control" id="slash-message"></textarea>
					</div>
				</td>
				<td class="slash-social">
					<div class="empty-space"></div>
				</td>
			</tr>
			<tr>
				<td class="display-add-message"><input type="submit" class="btn btn-success col-md-12 btn-send-slash" value="Submit"></td>
				<td class="slash-central"></td>
				<td class="slash-social"></td>
			</tr>
		</table>
	</form>
</template>