<template name="addSlash">
  <form class="add-slash-form col-xs-12">
    {{#if currentUser }}
      <table>
        <tr>
          <td class="user-info">
              <p>{{ currentUser.username }}</p>
              {{#if userPicture }}
                <a href="{{pathFor 'profileView' name=currentUser.username}}" class="picture-link">
                  <img alt="profile picture" src="{{userPicture.url store='profileImage'}}" />
                </a>
              {{else}}
                <a href="{{pathFor 'profileView' name=currentUser.username}}" class="picture-link">
                  <img alt="profile picture" src="/img/noprofile.jpg" />
                </a>
              {{/if}}
              <p>{{nbMessage}} message</p>
          </td>
          <td class="slash-central">
            <div class="input-group datetimepicker start-date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input class="date-input form-control" type="text" placeholder="Start date"/>
            </div>
            <div class="input-group datetimepicker end-date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input class="date-input form-control" type="text" placeholder="End date"/>
            </div>
            <div class="slash-add-message">
              <textarea class="form-control" id="slash-message"></textarea>
              {{#if errorMessage}}
                <p>{{errorMessage}}</p>
              {{/if}}
              <input type="submit" class="btn btn-success btn-send-slash" value="Submit" />
            </div>
          </td>
        </tr>
      </table>
    {{/if}}
  </form>
</template>