<template name="addSlash">
	<form class="add-slash-form col-md-8 col-md-offset-2">
		<textarea type="textarea" class="form-control slash-message">
		</textarea>
		<div class="timing">
			<span>Timer: </span>
			<input type="text" maxlength="2" placeHolder="hh" class="hour"/>
			<input type="text" maxlength="2" placeHolder="mm" class="min"/>
			<input type="text" maxlength="2" placeHolder="ss" class="sec"/>

			<span>Starting in:</span>
			<input type="text" maxlength="2" placeHolder="hh" class="hour"/>
			<input type="text" maxlength="2" placeHolder="mm" class="min"/>
			<input type="text" maxlength="2" placeHolder="ss" class="sec"/>
		</div>
		<i class="fa fa-camera"></i><span>Add picture</span>
		<input type="submit" />
	</form>
</template>