<template name="dedication">
	<div class="row-dedication">
		<div class="dedication col-md-11 col-sm-10 col-xs-8">
			<span class="dedication-text">
				{{ currentDedication }}
			</span>
		</div>
		<form class="new-dedication col-md-11 col-sm-10 col-xs-8 hidden">
			<input type="text" placeholder="Send a dedication" class="" />
		</form>
		<div class="col-md-1 col-sm-2 col-xs-4 btn-show-add-dedication">
			<i class="fa fa-plus fa-2x display-add-dedication"></i>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-4 btn-action-add-dedication hidden">
			<input type="submit" class="btn send" value="send">
			<div class="btn cancel">Cancel</div>
		</div>

	</div>
</template>