<template name="modals">
  {{> mSignIn }}
  {{> mSignUp }}
  {{> mUploadPicture }}
</template>

<template name="mSignUp">
	<div class="modal fade" id="mSignUp">
		<div class="modal-dialog">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{{> signUpForm }}
		</div>
	</div>
</template>

<template name="mSignIn">
	<div class="modal fade" id="mSignIn">
		<div class="modal-dialog">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{{#if forgotPassword}}
				{{> forgotPasswordForm}}
			{{else}}
				{{> signInForm }}
			{{/if}}
		</div>
	</div>
</template>

<template name="mUploadPicture">
	<div class="modal fade" id="mUploadPicture">
		<div class="modal-dialog">
			<div class="forgot-password-form panel panel-default">
				<div class="panel-body">
					<h3 class="panel-title">Upload profile picture</h3>
					{{> upload_bootstrap }}
				</div>
			</div>
		</div>
	</div>
</template>
