<template name="mSignUp">
	<div class="modal fade" id="mSignUp" style="color:black">
		<div class="modal-dialog">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{{> signUpForm }}
		</div>
	</div>
</template>

<template name="mSignIn">
	<div class="modal fade" id="mSignIn" style="color:black">
		<div class="modal-dialog">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{{#if forgotPassword}}
				{{> forgotPasswordForm}}
			{{else}}
				{{> signInForm }}
			{{/if}}
		</div>
	</div>
</template>