<template name="slashList">
	<div class="col-md-10 col-xs-10 col-md-offset-1">
		<ul class="slash-list">
			<li class="slash">
				<div class="user-info">
					<p>@Patati Patata@</p>
					<img alt="My 24th Birthday!" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
					<p>@messages@</p>
					<p>@quality@</p>
				</div>
				<div class="slash-central">
					<div class="slash-info">
						<i class="fa fa-thumbs-o-up"></i>@12@
						<i class="fa fa-thumbs-o-down"></i>@1@
						<i class="fa fa-clock-o"></i>@23:05:29@
					</div>
					<div class="slash-message">
						<p class="desc col-md-12">@bladazdaz dzadzad zdkiazjd zdasd dzd zad@</p>
					</div>
				</div>
				<div class="slash-social">
					<i class="action vote-up fa fa-thumbs-o-up"></i>
					<i class="action vote-down fa fa-thumbs-o-down"></i>
					<i class="action comment fa fa-comment"></i>
					<i class="action fa fa-exclamation-triangle"></i>
				</div>
			</li>
		</ul>
	</div>
</template>