<template name="subjectHeader">
	<div class="subject-header col-md-12 col-xs-12">
		<div class="action_slash">
			<h5 class="col-md-3 col-xs-3">
				Users: {{ nbVisit }}
			</h5>
			<h3 class="col-md-7 text-center col-xs-7">
				//{{ title }}
			</h3>
			<div class="add-new-slash col-md-1 col-xs-1">
				<div class="btn-circle clr-info">
					<i class="fa fa-plus fa-2x"> </i>
				</div>
			</div>
			<div class="col-md-1 col-xs-1">
				<div class="btn-circle clr-info">
					<i class="fa fa-sort fa-2x"> </i>
				</div>
			</div>
		</div>
	</div>
</template>