<template name="subjectHeader">
	<div class="subject-header col-md-12 col-xs-12">
		<h5 class="col-md-3 col-xs-3 subject-info">
			Visitors: {{ nbVisit }}
		</h5>
		<h2 class="col-md-7 text-center col-xs-6 subject-title">
			//{{ title }}
		</h2>
		<div class="subject-action col-md-2 col-xs-3">
			<div class="add-new-slash btn-circle clr-info">
				<i class="fa fa-plus fa-2x"> </i>
			</div>
			<div class="btn-circle clr-info">
				<i class="fa fa-sort fa-2x"> </i>
			</div>
		</div>
	</div>
	<br>
	{{#if showAddSlash }}
		{{> addSlash }}
	{{/if}}
</template>