<template name="followers">
  <div class="container followers">
      <div class="row">
        <button type="button" class="btn btn-default btn-back">
          <span class="glyphicon glyphicon-chevron-left"></span>Back
        </button>
        <h3 class="follower-title">{{profileUsername}} - Followers</h3>
      </div>
      <div class="row">
        <ul>
          {{#each followers}}
            {{>followerListItem}}
          {{/each}}
        </ul>
      </div>
  </div>
</template>

<template name="followerListItem">
    <li>
      <div>
        {{#if picture }}
          <a href="{{pathFor 'profileView' name=username}}" class="follower-pic-link">
            <img alt="profile picture" src="{{picture.url store='profileImage'}}" />
          </a>
        {{else}}
          <a href="{{pathFor 'profileView' name=username}}" class="follower-pic-link">
            <img class="img-responsive user-photo" alt="profile picture" src="/img/noprofile.jpg" />
          </a>
        {{/if}}
        <div class="user-info">
          <h4>{{ username }}</h4>
          <p>{{ name }}</p>
          <p>{{ getNbFollowers this }} Followers - {{ getNbFollowing this }} Following</p>
        </div>
      </div>
    </li>
</template>
