<template name="followers">

  <div class="container followers">
    <div class="row">
      <div class="col-sm-12">
        <h3>My Followers</h3>
      </div><!-- /col-sm-12 -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Papa</strong>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Alexandra</strong>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Arnaud</strong>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Franck</strong>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Popol24</strong>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->

  </div><!-- /container -->


</template>
