<template name="home">
	<div class="home">
		<div class="front-welcome well">
			<h1>Welcome to Slash2Slash !! </h1>
			<p>Connect with your friends - and other fascinating people. <br> Get in-the-moment updates on the things that interest you. <br> And watch events unfold, in real time, from every angle.</p>
			<p>Sign in or Sign up</p>
		</div>

		<div class="front-connexion">
			{{> signInForm }}
			{{> signUpForm }}
		</div>
	</div>
</template>

<template name="signInForm">
	<div class="front-signin panel panel-default">
		<div class="panel-body">
			<h3 class="panel-title">Sign in</h3>
			<form role="form">
				{{#if errorMessages}}
					<div class="list-errors">
						{{#each errorMessages}}
							<div class="list-item">{{this}}</div>
						{{/each}}
					</div>
				{{/if}}
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
						</div>
					</div>
				</div>

				<input type="submit" value="Sign in" class="btn btn-info btn-block">
				
				<div class="remember-forgot">
					<label class="t1-label remember">
						<input type="checkbox" value="1" name="remember_me" checked="checked">
						<span>Remember me</span>
					</label>
					<span class="separator">·</span>
					<a class="forgot" href="/account/begin_password_reset">Forgot password?</a>
				</div>

			</form>
		</div>
	</div>
</template>

<template name="signUpForm">
	<div class="front-signup panel panel-default">
		<div class="panel-body">
			<h3 class="panel-title">New to Slash2Slash ? <small>Sign up!</small></h3>
			<form role="form">
				{{#if errorMessages}}
					<div class="list-errors">
						{{#each errorMessages}}
							<div class="list-item">{{this}}</div>
						{{/each}}
					</div>
				{{/if}}			
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username">
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-sm" placeholder="Confirm Password">
						</div>
					</div>
				</div>

				<input type="submit" value="Sign up for Slash2Slash" class="btn btn-info btn-block">
				{{#if cancel }}
					<input type="submit" value="Cancel" class="btn btn-info btn-block">
				{{/if}}
			</form>
		</div>
	</div>			
</template>