<template name="home">
	<div class="home">
		<div class="front-welcome well">
			<h1>Welcome to Slash2Slash !! </h1>
			<p>Connect with your friends - and other fascinating people. <br> Get in-the-moment updates on the things that interest you. <br> And watch events unfold, in real time, from every angle.</p>
			<p>Sign in or Sign up</p>

			<h1>Coursework information</h1>
			<h3>Team members:</h3>
			<ul>
				<li>Pauline Michaud</li>
				<li>Sabri Antoine</li>
				<li>Arnaud Bertrand</li>
			</ul>
			<p>We consider that we all spent the same amount of work and we all spend time working on each pages</p>
			<h3>Overall design</h3>
			<p>The purpose of the application is to be able to send message on a subject and make it disappear after a selected amount of time.</p>
			<p>In order to do this, we decided to divide our website as follow: </p>
			<ul>
				<li>A homepage where you arrive when you do not have an account and you come on the website the first time, this is the current page. It provides an easy way to access a subject by typing in the header input and as well the opportunity to sign in or sign up.</li>
				<li>The subject page is the most important part of the website, it is where the users share their comments. Everyone can send a message (Once you have an account). The community can send like and dislikes in order to help filter the good comments and the bad comments on a subject. We also implemented a "Dedication space" at the top of the page where people can share short message on a subjects that appear randomly and changing constantly</li>
				<li>The application dispose of a profile page of user where you easily see short information on the user and its current posts. It also implements the "Dedication space" if you want to leave some messages to your friends.</li>
				<li>When you are on the profile you can then click on "Profile" which will send you to a page where you will have the entire profile of the person, its descriptions, its name, etc...</li>
				<li>You can also see if the user is following someone or is followed by someone. Following allow user to be informed by new post of an user.</li>
				<li>Last things are the modals windows used to login, sign up or ask for your password lost in a modal window accessible everywhere in the application when you are not connected.</li>
			</ul>
			<h3>Link to pages</h3>
			<ul class="link-to-pages">
				<li>
					<input type="checkbox" />
					<a>Home</a>
				</li>
				<li>
					<input type="checkbox" />
					<a class="subject">Subject</a>
				</li>
				<li>
					<input type="checkbox" />
					<a class="view-profile">View profile</a>
				</li>
				<li>
					<input type="checkbox" />
					<a class="view-complete-profile">View complete profile</a>
				</li>
				<li>
					<input type="checkbox" />
					<a class="followers">Followers</a>
				</li>
				<li>
					<input type="checkbox" />
					<a class="following">Following</a>
				</li>
			</ul>
			<h3>External sources:</h3>
			<ul>
				<li>Meteor.js: Node.js framework used for its reactive front-end, we wanted a real-time application</li>
				<li>Bootstrap: Used to structure easily some part of the design</li>
				<li>Jquery: Used to select element in a more elegant way and transitions</li>
				<li>Font-awesome: used for small icons</li>
				<li>Less: Used to simplify css</li>
				<li>Iron-router: Used to manage routes</li>
			</ul>
			<h3>HTML/CSS validator</h3>
			<p>/!\ #### CSS errors are due to the external libraires.### /!\</p>
			<a href="http://validator.w3.org/check?uri=https%3A%2F%2Fslash-test.meteor.com%2F">HTML Validator</a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="width: 88px; height: 31px; border: 0" alt="OK CSS" src="http://jigsaw.w3.org/css-validator/images/vcss" />
			</a>

		</div>

		<div class="front-connexion">
			{{> signInForm }}
			{{> signUpForm }}
		</div>
	</div>
</template>