<template name="mSignUp">
	<div class="modal fade" id="mSignUp" style="color:black">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Data selection <span class="fa fa-user fa-2x"></span></h4>
				</div>
				<div class="modal-body">
					{{#if errorMessages}}
						<div class="list-errors">
							{{#each errorMessages}}
								<div class="list-item">{{this}}</div>
							{{/each}}
						</div>
					{{/if}}
 					<form class="mSignUpForm">
						<input type="text" name="username" placeholder="Username" /><span>{{usernameInfo}}</span><br />

						<input type="password" name="password" placeholder="Password"/><span>{{passwordInfo}}</span><br />

						<input type="password" name="confirmPassword" placeholder="Confirm password"/><br />

						<input type="email" name="email" placeholder="E-mail address"/>
						<span>{{emailInfo}}</span><br />

						<button type="button" class="cancelButton">Cancel</button>
						<input type="submit" value="Sign up" id="signupButton" />
					</form>
				</div>
			</div>
		</div>
	</div>
</template>