<template name="profileView">
	<div class="container profile-view">
		<div class="row row-dedication">
			{{> dedication }}
		</div>
		<div class="row user-profile-and-slash">
			<aside class="user-profile-info">
				{{> userProfileInfo }}
			</aside>
			<div class="div-slash-list">
				{{> slashList }}
			</div>
		</div>
	</div>
</template>

<template name="userProfileInfo">
	<p>{{profileUsername}}</p>
	<img alt="My 24th Birthday!" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
	<p>@513@ messages</p>
	<p>Quality: @nb@% {{ profile.username }}</p>
	<a class="profile">Profile</a><br />
	<a class="following">Following</a><br />
	<a class="followers">Followers</a>
</template>