<template name="subject">
  <div class="container subject">
    <div class="row">
      <div class="col-md-10 col-xs-12 col-md-offset-1 col-xs-offset-0">
        {{> dedication }}
      </div>
    </div>

    <div class="row container-header-subject">
      <div class="col-md-10 col-xs-12 col-md-offset-1 col-xs-offset-0">
        {{> subjectHeader }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-10 col-xs-12 col-md-offset-1 col-xs-offset-0">
        {{> slashList }}
      </div>
    </div>
  </div>
</template>