.add-slash-form{
	padding:0;

	.slash-central{
		background-color: #eeeeee;
		vertical-align: top;
		width: 100%;

		.slash-info{

			i{
				padding-left: 5px;
			}

		}

		.slash-add-message{
			text-align: center;
			font-size: 1.5em;
			padding: 20px;
			#slash-message{
				resize: none;
				min-height: 100px;
				margin-bottom: 20px;
			}
		}

		.start-date, .end-date{
			width: 30%;
			display: inline-block;
			text-align: center;
			margin-top: 10px;
		}

	}

	.slash-social{
		text-align: center;
		background-color: #2d2a49;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		
		.empty-space{
			width:31px;
		}

		i {
			padding: 5px;
			display: block;
			width: 100px;
			height: 100%;
			font-size:1.5em;
			color: #eeeeee;
		}

		.vote-up{

		}

		i:hover{
			color: #3f3;
			cursor: pointer; 
		}
	}

	.user-info{
		padding: 5px 15px;
		width: 150px;
		border-right: 1px solid #555555;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		background-color: #839fc2;
		text-align: center;

		p{
			margin: 0px;
		}

		img{
			height: 100px;
			width: 100px;
			border-radius: 5px 0px 5px 0px;
		}
	}

	}
	
	.display-add-message{
	background-color:#839fc2;
	border-right:1px solid #555555;

	.empty-space{
		width:100px;
	}
	
	.btn-send-slash{
		bottom:0px;
		border-radius:0px;
	}
}



@media screen and (max-width: 1000px) {
	.add-slash-form .user-info {
		display: none;
	}
}

