.row-dedication{
	margin: 0px;
	margin-top:5px;
	box-shadow: 0px 2px 2px #888888;
	text-align: center;
	height:80px;
	background-color:#302430;
	color:#fff;

	.add-dedication-button{
		cursor: pointer;
	}
	
	.dedication-user{
		position:relative;
		height:80px;
		
		.dedication-user-info{
			.user-info-item{
				padding:10px 0px;
				position:relative;
				height:25px;
			}
		}
		

		
		.dedication-user-image{
			position:relative;
			width:60px;
			height:60px;
			margin:10px;
			border-radius:50%;
			border:2px solid #343C47;
			z-index:4;
			padding:0px;
			
			.bar-vertical{
				position:absolute;
				top:-12px;
				height:80px;
				left:50%;
				width:1px;
				background-color:#343C47;
				z-index:1;
			}
			
			img{
				position:relative;
				z-index:3;
				border-radius:50%;
				width:54px;
				height:54px;
				vertical-align:middle;
			}
			
			.img-change-1{
				transform: rotateY(90deg);
				transition: all 500ms linear;
			}
			
			.img-change-2{
				transform: rotateY(0deg);
				transition: all 500ms linear;
			}
		}
	}

	.dedication{
		display: inline-block;
		height:80px;
		line-height:80px;

		
		.dedication-text{
			display:inline-block;
			width:100%;
			text-align:center;
			vertical-align:middle;
			line-height:1.2;
		}
		
	}
	
	.btn-show-add-dedication{
		padding:27px;
	}
	
	.btn-action-add-dedication{
		padding:0px;
		margin-right:0px;
		
		.send{
			height:40px;
			border-radius:0%;
			margin:0px;
			border:2px solid #fff;
			border-bottom:1px solid #fff;
			background-color:inherit;
			color:#fff;
			font-weight:900;
			width:100%;
		}
		
		.cancel{
			height:40px;
			border-radius:0%;
			margin:0px;
			border:2px solid #fff;
			border-top:1px solid #fff;
			background-color:inherit;
			font-weight:900;
			color:#fff;
			width:100%;
		}
	}

	.new-dedication{
		margin: 0px auto;
		margin-top: 10px;
		padding: 5px;
		text-align:middle;
		
		input{
			font-size:1.5em;
			width:100%;
			text-align:center;
			background-color: inherit;
			border: 0px solid #888;
			color:#fff;
			padding: 0;
			border: none;
			box-shadow: none; 
			background: none;
			outline: none;
		}
	}
	
	
}