.add-new-slash, .btn-circle {
	cursor:pointer;
}

.btn-circle{
	border-radius:100px 100px 100px 100px;
	border:2px solid #2d2a49;
	height:40px;
	width:40px;
	text-align:center;
	padding-top:5px;
	background-color: #fff;
	color: #2d2a49;
}