.followers{
  background: #fff;
  text-align: center;

  .thumbnail {
      padding:0px;
  }

  .follower-info{
    width: 40%;
    display: inline-block;

    .thumbnail, .panel{
      display: inline-block;
      height:100px;
    }

    .thumbnail{
      height: 100px;
      width: 100px;
    }

    .panel{
      vertical-align: top;
    }
  }

}

.followers{
  ul {
    list-style-type: none;
    word-wrap: break-word  
  }

  ul > li {
      border: 1px solid #E9EAED;
      display: inline-block;
      margin: 0px 0px 13px 13px;
      padding: 0px 10px 0px 0px;
      position: relative;
      vertical-align: top;
      width: 40%;
  }

/**
  ul > li > div:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    visibility: hidden;
  }

  .follower-pic-link:after {
      border: 1px solid rgba(0, 0, 0, 0.1);
      bottom: 0px;
      content: "";
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
  }
**/
  .follower-pic-link{
    position: relative;
    float: left;
    margin-right: 10px;
  }

  .follower-pic-link img{
    border: 0px none;
    height: 100px;
    width: 100px;
  }

  .user-info{
    height: 100px;
    overflow: hidden;
    line-height: 120%;
  }  
}

@media screen and (max-width: 800px) {
  .followers .follower-info{
    width: 100%;
  }
  .followers ul > li{
    width: 100%;    
  }
}