.followers{
  background: #fff;
  text-align: center;

  .thumbnail {
      padding:0px;
  }

  .follower-info{
    width: 40%;
    display: inline-block;
    vertical-align: top;

    .thumbnail, .panel{
      vertical-align: top;
      display: inline-block;
      max-height: 200px;
    }

    .thumbnail{
      width: 20%;
    }

    .panel{
      width: 70%;
    }
  }

}

@media screen and (max-width: 800px) {
  .followers .follower-info{
    width: 100%;
  }
}