.user-profile-and-slash{
  text-align:center;
  margin-bottom: 25px;
  .div-slash-list, .user-profile-info{
    display: inline-block;
    vertical-align: top;
  }

  .user-profile-info{
    background-color: #ddd;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 5px 15px;

    img {
      border-radius: 10px;
    }

    ul {
      list-style-type: none;
      padding:0;
      margin:0;
    }
  }
}