.dedication{
	border:2px solid #7B7A19;
	background-color:#413E3E;
	color:#fff;
	border-radius:3px;
	height:120px;
	width:80%;
	left:10%;
	text-align:left;
	padding:10px;
}

.see_dedication{
	text-align:center;
	padding:30px 0px;
}

.clr-info{
	background-color:#B2C3D8;
}

.clr-sort{
	background-color:#B2C3D8;
}