.menu{
	background-color:#4B3592;
	color:white;
	height:100px;
	width:100%;
}

.logo{
	color:white;
	height:80px;
	margin-top:10px;
	padding:12px 40px;
}

.active{
	background-color:red!important;
}

header{
	text-align: center;
	background-color:#4B3592;
	height:120px;
	width:100%;
	white-space: nowrap;
}


header > .headerRight, header > .logo, header > .searchSlash {
	vertical-align: middle;
	display: inline-block;
}

header > .headerRight{
	width: 10%;
	margin-left: 50px;
}

header > .logo{
	width: 10%;
	margin-right: 50px;
}

header .puce{
	display: inline-block;
	border-radius:100px 100px 100px 100px;
	background-color:#6B5592;
	border:1px solid #555555;
	color: #cccccc;
	text-align:center;
	padding: 0 5px;
	cursor: pointer;
}

header .menuPowerOff{
	color: red;
}

header > .searchSlash {
	width: 50%;
}

header > .searchSlash > input{
	background-color:#fff;
	color:black;
	height:80px;
	margin-top:10px;
	font-size:23px;
	width: 100%;
	padding: 0 50px;
	/* border radius */
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

@media screen and (max-width: 500px) {
    header .headerRight, header .logo {
        display: none;
        margin: 0;
    }

    header .puce{
    	display: none;
    }

    header .searchSlash{
    	width: 100%;
    }
}

